<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">File uploader</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="isExpanded"
                (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
             [ngClass]="{ show: isExpanded }">
          <ul class="navbar-nav flex-grow">
            <li *ngIf="userData" class="nav-item">
              <a class="nav-link text-dark" href="javascript:void(0)">{{userData.displayName}}</a>
            </li>
            <li *ngIf="userData" class="nav-item">
              <a class="nav-link text-dark" href="javascript:void(0)" (click)="logout()">logout</a>
            </li>
            <li *ngIf="!userData" class="nav-item">
              <a class="nav-link text-dark" href="javascript:void(0)" (click)="login()">login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
